<!-- <h1>Registration Form</h1>

<form #simpleForm = "ngForm" (ngSubmit) = "getValues(simpleForm.value)">
    
    First Name: <input type ="text" ngModel name = "fname" placeholder = "Enter first Name">
    <br> <br>
    Last Name: <input type ="text" ngModel name = "lname" placeholder = "Enter last Name">
    <br> <br>
    Age: <input type ="text" ngModel name = "age" placeholder = "Enter age">
    <br> <br>
    Email: <input type ="email" ngModel name = "email" placeholder = "Enter Email address">
    <br> <br>
    Username:<input type ="text" ngModel name = "user" placeholder = "Enter Username">
    <br> <br>
    Password: <input type ="password" ngModel name = "pass" placeholder = "Enter Password">
    <br> <br>
    <button >Get user value</button>

</form> -->

<app-navbar></app-navbar>
<router-outlet></router-outlet>