    <div class="wrapper">
      <div class="title">Login</div>
      <form action="#">
        <div class="field">
          <input type="text" name="username" required [(ngModel)]="loginObj.userName">
          <label>User Name</label>
        </div>
        <div class="field">
          <input type="password" name="password" required  [(ngModel)]="loginObj.password">
          <label>Password</label>
        </div>
        <div class="content">
          <div class="checkbox">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">Remember me</label>
          </div>
          <div class="pass-link"><a href="#">Forgot password?</a></div>
        </div>
        <div class="field">
          <input type="button" (click)="onLogin()" value="Login">
          <!-- <Button (click)="onLogin()" class="btn">Login</Button> -->
        </div>
        <div class="signup-link">Not a member? <a href="#">Signup now</a></div>
      </form>
    </div>
