<!-- app.component.html -->
<div class="container-fluid text-center">
  <div class="row text-center">
    <!-- Content -->
    <div class="col-lg-9">
      <div class="row">
        <div class="col-md-12">
          <!-- Navbar -->
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item"> <a class="nav-link" routerLink="/">Home</a> </li>
                <li class="nav-item"> <a class="nav-link" routerLink="/users">Users</a> </li>
                <li class="nav-item"> <a class="nav-link" routerLink="/login">Login</a> </li>
                <li class="nav-item"> <a class="nav-link" routerLink="/sign-up">Sign-Up</a> </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
